<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.crypta">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.R" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="false"
        android:icon="@drawable/crypta_big"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.FilesActivity">
        </activity>
        <activity
            android:name=".activities.SignInActivity">

        </activity>
        <activity
            android:name="com.dropbox.core.android.AuthActivity"
            android:configChanges="orientation|keyboard"
            android:launchMode="singleTask">
            <intent-filter>

                <!-- Change this to be db- followed by your app key -->
                <data android:scheme="db-hgrq5drk87wskuw" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.UserActivity"
            android:label="Crypta"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.CreatePasswordActivity" />
        <activity android:name=".activities.ChangePasswordActivity">
            <intent-filter>
                <action android:name="android.intent.action.CHANGE_LOCAL_PASSWORD" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.ProfileActivity"
            android:label="@string/title_activity_profile"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activities.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activities.ChooseProviderActivity"
            android:label="@string/title_activity_choose_provider"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activities.PreferencesActivity"
            android:label="Settings"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activities.ItemMoveActivity"
            android:label="@string/title_activity_item_move"
            android:theme="@style/AppTheme"></activity>
    </application>

</manifest>
